body {
    font-family: sans-serif;
    line-height: 1.15;
    font-weight: 100;
}

.header {
    text-align: center;
}

.header img {
    width: 40vw;
    margin-bottom: 5vh;
}

.bysykkel-stations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

.error-message {
    text-align: center;
}

.error-message h1 {
    font-weight: 100;
}
.bysykkel-stations h1 {
    font-weight: 100;
    text-align: center;
    margin-bottom: 2px;
    max-height: 75px;
    min-height: 75px;
    background: #fbf4f4;
    margin-top: 0;
}

.bysykkel-stations h3 {
    font-weight: 100;
    text-align: center;
    margin-top: 2px;
}

.bysykkel-station {
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    border: 1px solid #d9c2c2;
}

.bysykkel-info {
    display: grid;
    grid-template-columns: 45px auto;
    line-height: 35px;
    font-weight: 400;
}
.bysykkel-station img {
    width: 35px;
    margin-bottom: 10px;
}

.btn {
    border: 1px solid #777;
    background: #02bb21;
    color: #fff;
    border-radius: 5px;
    min-width: 100px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
}

.btn-link {
    font-size: 13px;
    text-decoration: none;
}

.filter-stations {
    display: flex;
    line-height: 50px;
}

.filter-stations input {
    height: 50px;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
    background: #eee;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    outline: none;
    margin-bottom: 30px;
    width: 80vw;
}

.filter-stations button {
    widht: 17vw;
}

.fill-width {
    flex: 1;
}

.pull-right {
    float: right;
}

.text-right {
    text-align: right;
}

@media  (max-width: 1100px) {
    .bysykkel-stations {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media  (max-width: 800px) {
    .bysykkel-stations {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media  (max-width: 600px) {
    .bysykkel-stations {
        grid-template-columns: repeat(1, 1fr);
        max-width: 80vw;
    }

    .bysykkel-station {
        max-width: 80vw;
    }

    .bysykkel-station h1 {
        max-width: 80vw;
    }

    .bysykkel-station h3 {
        max-width: 80vw;
    }
}